$background_color: #f9f9f9;
$divider_color: #e5eaeb;
$vertical_divider_color: #dedcdc;
$regular_color: #343434;
$light_grey: #4a4a4a;

$yellow_color: #fbb93a;
$green_color: #4bb8a2;

$regular_font_size: 14px;

$regular_font_family: -apple-system, sans-serif;
