.card_item {
 @extend .card-style;

  .title {
    display: block;
    font-size: 1.3rem;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    color: $regular_color;
    line-height: 1.3rem;
  }

  .subtitle {
    display: block;
    font-size: 0.8rem;
    margin-top: 4px;
    text-align: center;
    color: $light_grey;
    font-weight: 500;
  }

  .icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
      height: 80px;
    }
  }
}

.info_icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}